#main {
    display: flex;
    
    justify-content: center;
    margin: 0;
    
    width: 100vw;
    height: 100vh;

    background-image: url(https://images3.alphacoders.com/812/812062.png);
 
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
  background-attachment: initial;
}

.formContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .6);
    box-shadow: .1rem .1rem .5rem;
    height: 80%;
    width: 80%;
    align-self: center;
    
}

.portal{
    position: absolute;
    width: 38%;
    opacity: .8;
    bottom: 21%;
}

@media screen and (max-width: 767px) {
    .portal {
        width: 91%;
        bottom: 27%;
        opacity: 0.8;
    }
}


.loginForm {

    background-color: rgba(255, 26, 202, 0.39);
    
    box-shadow: .1rem .1rem .7rem;
    text-align: -webkit-center;
    padding: 2rem;
    transform: translateX(0) translateY(0);
    animation: flotante 4s ease-in-out infinite alternate;
    z-index: 1;
   }

@keyframes flotante {
    from {
      transform: translateX(0) translateY(0);
    }
    to {
      transform: translateX(0) translateY(-10px);
    }
  }
   
.loginForm input, .loginForm label {
    margin: 10%;
}

.loginForm label {
    font-weight: bold;
}

.loginForm input {
    padding: .1rem;
    text-align: center;
    font-style: italic;
    font-weight: 300;
}

.loginForm button {
    font-style: oblique;
    margin: 1rem;
    display: block;
    padding: 2%;   
    background-color: rgba(255, 56, 106, 0.6);
    border: 1px black solid ;
    box-shadow: .1rem .1rem .3rem;
    transition-duration: 1s;
    position: absolute;
    cursor: pointer;
}

.loginForm button:hover {
    box-shadow: .3rem .3rem .6rem;
    font-size: large;
    background-color: rgba(255, 16, 76, 0.77);
    
}

.loginForm button:active {
    background-color: rgb(255, 14, 74);
}